@page "/addProduct"
@inject ILogger<Products> _logger;
@inject NavigationManager _navigationManager;
@inject IToastService _toastService;
@inject IMuchikMarketService _muchikMarketService;

<h1>🎈 Agregar Producto</h1>

<div class="text-end">
	<button class="btn btn-dark" @onclick="@(() => _navigationManager.NavigateTo("/products"))">Regresar</button>
</div>

<div class="row">
	<EditForm Model="@product" OnSubmit="@Save">
		<div class="col-6 form-group">
			<label for="name" class="col-form-label">Nombre</label>
			<InputText id="name" @bind-Value="product.Name" required class="form-control" />
		</div>
		<div class="col-3 form-group">
			<label for="sku" class="col-form-label">SKU</label>
			<InputText id="sku" @bind-Value="product.Sku" required class="form-control" />
		</div>
		<div class="col-3 form-group">
			<label for="price" class="col-form-label">Precio</label>
			<InputNumber id="price" @bind-Value="product.Price" required class="form-control" />
		</div>
		<div class="col form-group">
			<label for="category" class="col-form-label">Categoría</label>
			<InputSelect id="category" @bind-Value="product.CategoryId" required class="form-control">
				<option>Seleccionar</option>
				@foreach (var category in categories)
				{
					<option value="@category.Id">@category.Name</option>
				}
			</InputSelect>
		</div>
		<div class="col form-group">
			<label for="brand" class="col-form-label">Marca</label>
			<InputSelect id="brand" @bind-Value="product.BrandId" required class="form-control">
				<option>Seleccionar</option>
				@foreach (var brand in brands)
				{
					<option value="@brand.Id">@brand.Name</option>
				}
			</InputSelect>
		</div>
		<div class="form-group">
			<label for="description" class="col-form-label">Descripción</label>
			<InputTextArea id="description" @bind-Value="product.Description" required class="form-control"></InputTextArea>
		</div>
		<div class="col-6 form-group">
			<label for="imageUrl" class="col-form-label">Imagen</label>
			<InputText id="imageUrl" @bind-Value="product.ImageUrl" required class="form-control" />
		</div>
		<div class="col-3 form-group">
			<label for="score" class="col-form-label">Puntaje</label>
			<InputNumber id="score" @bind-Value="product.Score" required class="form-control" />
		</div>
		<div class="col-3 form-group">
			<label for="stock" class="col-form-label">Stock</label>
			<InputNumber id="stock" @bind-Value="product.Stock" required class="form-control" />
		</div>
		
		<hr />

		<button class="btn btn-warning" type="submit">Guardar</button>

	</EditForm>
</div>
@code {

	[CascadingParameter]
	public IModalService Modal { get; set; } = null!;

	private NewProduct product = new();

	private List<Brand> brands = new List<Brand>();
	private List<Category> categories = new List<Category>();

	protected override async Task OnInitializedAsync()
	{
		brands = await _muchikMarketService.GetBrands();
		categories = await _muchikMarketService.GetCategories();
	}

	private async Task Save()
	{
		try
		{
			var productSave = product;
			//await _muchikMarketService.AddProduct(productSave);
			Modal.Show<ModalLayout>("Mensaje");
			//_toastService.ShowSuccess("Producto creado correctamente.");
			//_navigationManager.NavigateTo("/products");
		}
		catch (Exception ex)
		{
			_toastService.ShowError("Ocurrió un error, vuelva a intentar en unos minutos.");
		}
	}
}
